
    /*GENERALI*/

    .titlePar{
        font-weight: bold;
        font-size: 1.5rem;
    }


    /*HERO 1 DRIVER*/
    .driver {
        position: relative;
        width: 100%;
        margin-bottom: calc(7vh + 7vw);
    }

    .parDriver{
        max-width: 26vw;
        text-align: justify;
        position: absolute;
        right: 15vw;
        top: calc(25vw + 5vh);
        opacity: 0;
        transition: opacity 1s;

    }

    .bassi{
        position: absolute;
        left: 10vw;
        top: 10vw;
        opacity: 0;
        transition: opacity 1s;
    }

    #driver_bg{
        max-width: 100vw;
        position: absolute;
        left: 8vw;
        top: 3vw;
        filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.5));
        opacity: 0;
        transition: opacity 1s;
    }

    .bassiWrapper{
        width: 100vw;
    }

    /*HERO 2 COMFORT*/
    .comfort {
        width: 100%;
        padding:0;
        position: relative;
    }

    .parComfort{
        max-width: 26vw;
        text-align: justify;
        position: absolute;
        left: 10vw;
        top: 15vw;
        opacity: 0;
        transition: opacity 1s;
    }

    .fitproduct{
        max-width: 40vw;
        top: 10vw;
    }

    .trigger{
        clip-path: circle(71% at 50% 50%);
        transition: clip-path 1s;
    }

    #comfy-wrapper{
        filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.5));
        position: absolute;
        right: 10vw;
        top: 5vw;
    }

    /*HERO 3 BATTERIA*/
    .battery {
        padding:0;
        position: relative;
        margin-top: calc(12vh + 7vw);
        height: calc(140vh + 35vw);
    }
    
    /*carosello*/
    .row1{
        position: absolute;
        left: -150vw;
        width: 100vw;
    }
    .row2{
        position: absolute;
        right: -150vw;
        width: 100vw;
        filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.5));
    }
    .gallery{
        margin-bottom: 10vw;
        max-height: fit-content;
        padding: 0;
    }

    .stockImg{
        max-width: 25vw;
        max-height: 41vw;
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
    }


    .a1{
        position: absolute;
        left: -7.5vw;
    }
    .a2{
        position: absolute;
        left: 22.5vw;
    }
    .a3{
        position: absolute;
        left: 52.5vw;
    }
    .a4{
        position: absolute;
        left: 82.5vw;
    }
    .a5{
        position: absolute;
        top: 45.5vw;
        left: 6.5vw;
    }
    .a6{
        position: absolute;
        top: 45.5vw;
        left: 11vw;
        clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);
        width: 78vw!important;
        transition: clip-path 1s;
    }


    .a7{
        position: absolute;
        top: 45.5vw;
        left: 68.5vw;

    }

  

    .parBattery{
        position: absolute;
        text-align: justify;
        left: 37vw;
        top: 90vw;
        max-width: 26vw;
        opacity: 0;
        transition: opacity 1s;

    }

    /*HERO 4 BLUETOOTH*/
    .bluetooth {
        position: relative;
        opacity: 0;
        transition: opacity 1s;
        top: calc(7vh + 8vw);

    }

    .carica_wireless_img{
        max-width: 30vw;
    }

    .parChip{
        position: absolute;
        max-width: 26vw;
        left: 10vw;
        top: 5vw;
        text-align: justify;
    }

    .bluetoothImg{
        position: absolute;
        max-width: 45vw;
        top: 5vw;
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
        right: 10vw;
    }
    /*HERO 5 SCATOLA*/
    .scatola {
        position: relative;
        height: 70vh;
        top: calc(15vh + 11vw);
    }


    .parScatola{
        position: absolute;
        right: 10vw;
        text-align: right;
        max-width: 20vw;
        top: calc(-4vh + -9vw);
    }

    .box{
        max-width: 10vw;
        background-color: #FFC857;
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
        top: calc(60vh + 15vw);
    }

    .boxContent{
        position: absolute;
        left: 10vw;
    }

    .b1{
        position: absolute;
    }
    .b2{
        position: absolute;
        left: 12vw;
    }
    .b3{
        position: absolute;
        left: 24vw;
    }
    .b4{
        position: absolute;
        left: 36vw;
    }
    .b5{
        position: absolute;
        left: 48vw;
    }
