@media screen and (max-width: 1024px) {
    .body-container{
        height: calc(460vh + 200vw);
    }

  
    
    /*LANDING*/

    .background{
        height: 80vh;
    }

    .landing{
        height: 80vh;
        padding-top: 30vh;
    }
   .r{
        transform: rotate(30deg);
        max-height: 28vh;
        right: 10vw;
        top: 40vh;

   }
   .l{
       transform: rotate(30deg);
       max-height: 28vh;
       left: 10vw;
       top: 2vh
   }

   .central-logo{
       max-width: 80vw;
   }

   /*HERO 1 DRIVERS*/
   .bassi{
       max-width: 70vw;
       left: 15vw;
   }

   .parDriver{
        top: calc(35vw + 25vh);
        max-width: 70vw;
        left: 15vw;
   }
   
   .driver{
       margin-bottom: 0px;
   }

   /*HERO 2 COMFORT*/

   .comfort{
       top: calc(3vh + 2vw);
   }

   .fitproduct{
       max-width: 70vw;
   }

   #comfy-wrapper{
        position: absolute;
        left: 15vw;
        top: calc(5vw + 2vh);
    }

    .parComfort{
        max-width: 70vw;
        left: 15vw;
        top: calc(75vw + 10vh)
    }

    /*HERO 3 BATTERIA*/

    .battery{
        margin-top: calc(15vh + 32vw);
        height: calc(105vh + 40vw);

    }

    .parBattery{
        max-width: 70vw;
        left: 15vw;

    }

    /*HERO 4 BLUETOOTH*/

    .bluetooth{
        top: calc(-15vh + -1vw);
    }

    .bluetoothImg{
        max-width: 70vw;
        left: 15vw;
    }

    .parChip{
        max-width: 70vw;
        left: 15vw;
        top: calc(40vw + 15vh)
    }

    /*HERO 5 SCATOLA*/

    .scatola{
        height: calc(55vh + 10vw);
    }

    .box{
        max-width: 11.6vw;
        top: calc(60vh + 15vw);
    }

    .boxContent{
        position: absolute;
        left: 15vw;
    }

    .b1{
        position: absolute;
    }
    .b2{
        position: absolute;
        left: 14.6vw;
    }
    .b3{
        position: absolute;
        left: 29.3vw;
    }
    .b4{
        position: absolute;
        left: 43.8vw;
    }
    .b5{
        position: absolute;
        left: 58.4vw;
    }

    .parScatola{
        max-width: 70vw;
        left: 15vw;
        top: calc(15vh + 20vw);
        text-align: justify;
    }

}

/* @media screen and (max-width: 1000px){
    .body-container{
        height: calc(400vh * (1/20vw));
    }

} */

@media screen and (max-width: 860px){
    .body-container{
        height: calc(460vh + 200vw);
    }

    .parScatola{
        top: calc(10vh + 5vw);
    }

}