@media screen and (max-width: 1450px) {
    /*LANDING*/
   .r{
    transform: rotate(30deg);
    max-height: 28vh;
    right: 10vw;
    top: 40vh;

   }
   .l{
    transform: rotate(30deg);
    max-height: 28vh;
    left: 10vw;
    top: 2vh
   }

   .central-logo{
       max-width: 50vh;
   }
   h1{
       max-width: 80vw;
       font-size: 4vh;
   }

   /*HERO 1*/

   .bassi{
       max-width: none;
       width: 60vw;
       left: 20vw;
   }

   #driver_bg{
       left: 1vw;
   }

   .parDriver{
       max-width: none;
       width: 60vw;
       top: 65vh;
       right: 20vw;
   }

   /*HERO 2*/

   #comfy-wrapper{
    right: 10vw;

    top: -50vh;
   }
   .fitproduct{
       max-width: none;
       width: 80vw;
   }
   .parComfort{
       position: relative;
       max-width: none;
       width: 70vw;
       left: 15vw;
       top:50vw;
   }


 
}